.account {
    width: 80%;
    background-color: white;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
}

.account-desc{
    text-align:left;
    margin: 10px;
    height: 100px;
}

.account-balance{
    font-size: 18px;
    margin: 5px;
}

.mount{
    font-size: 40px;
    font-weight: bold;
    margin:0;
}

.transaction-button{
    height: 40px;
    width: 200px;
    align-self: center;
    background-color: #00bc77;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 2px 2px 2px black;
}